body{
    margin: 0 auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 15px;
}
#createPostForm{
border: 2px solid darkred;
border-radius: 5px;
padding: 30px 30px;
max-width: 200px;
display: flex;
flex-direction: column;
align-items: center;
}
#titleInput{
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    margin-bottom: 10px;
    background-color: beige;
    color: black;
}
#contentInput{
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    margin-bottom: 15px;
    background-color: beige;
    color: black;
}
.button{
    padding: 10px 20px;
    background-color: darkred;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 500;
}
#postsContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}
.post{
    padding: 20px 30px;
    border: 3px solid darkblue;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.postTitle{
    text-align: center;
    text-transform: capitalize;
}
.editPostButton,
.deletePostButton{
    padding: 10px 20px;
    background-color: navy;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 500;
    margin: 5px;
}
.commentsList{
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style: none;
}
.commentsList li{
    padding: 5px;
    font-size: 12px;
}
.commentInput{
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    border-radius: 4px;
    background-color: beige;
    color: black;
}
.addCommentButton{
    padding: 10px 5px;
    background-color: navy;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 500;
    margin: 5px;
}